<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15037414348-mfs4ico4b0vpck2u3mo3jmfigaqs777v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15037414348-mfs4ico4b0vpck2u3mo3jmfigaqs777v</string>
	<key>API_KEY</key>
	<string>AIzaSyCiNVbhm2sIhgoOyUSyk_XSQeWhMXTxXH4</string>
	<key>GCM_SENDER_ID</key>
	<string>15037414348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pdpTcg</string>
	<key>PROJECT_ID</key>
	<string>pdp-t-9d91b</string>
	<key>STORAGE_BUCKET</key>
	<string>pdp-t-9d91b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15037414348:ios:9f20d8cf5d865f138d3b69</string>
	<key>DATABASE_URL</key>
	<string>https://pdp-t-9d91b-default-rtdb.firebaseio.com</string>
</dict>
</plist>